[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"
safety = "*"
flit = "*"
bandit = "*"
vulture = "*"
flake8-bugbear = "==19.3.0"
pytest = "*"
mkdocs = "*"
pdoc3 = "*"
simplejson = "*"
msgpack = "*"
bson = "*"
mkdocs-material = "*"
pytest-coverage = "*"

[pipenv]
allow_prereleases = true
